
@media (max-width:480px){

    section{
        padding: 10px 10px 10px 10px !important;
    }
    table{
        width:50% !important;
    }

    .text-container{
        width: 500px;
    }

    .banner-content span{
        font-size: 20px;
    }

    .banner-content{
        display: none;
        /* padding: 10px;
        display: flex;
        text-align: center;
        /* justify-content: center;
        align-items: center; */
        /* flex-direction: column;
        margin: 0 auto; */ */
        
    }

    .banner-content h1{
        font-size: 20px;
    }

    .banner{
        background-image: var(--img-1);
        /* background-size: 50%; */
        background-size: contain;
        height: 30vh;
        padding: 10px;
    }

    .banner-content h1{
        background: transparent;
     
    }
    
    .banner-content p{
        background: transparent;
        
     
    }
    .banner-content span{
        background: transparent;
        text-align: center;
        
     
    }
}